.container{
    margin: auto;
    padding-top: 50px;

}
.title{
    text-align: center;
}
.filter{
   padding: 20px;
}
.filter input{
    margin: auto;
    width: 300px;
    height: 60px;
 }
.card{
    height: 100%;
    padding-top: 50px;
    box-shadow: 2px 2px 2px 2px rgba(146, 146, 146, 0.1) ;
}
.card-img-top{
    display: flex;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0, 0.1);
}
.card-img-top img{
    width: 100%;
   
}

.footer{
    margin: 5px;
    padding-top: 50px;
    background-color: black;
    width: 100px;
}

.hidden-card{
    visibility: hidden;
}